// Fixed-width, centered column for site content.
.container {
  width: $container-width;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &.align-top {
    align-items: flex-start;
  }

  &.align-bottom {
    align-items: flex-end;
  }

  &.align-center {
    align-items: center;
  }

  &.align-stretch {
    align-items: stretch;
  }

  &.justify-center {
    justify-content: center;
  }
}

.column {
  flex: 1;

  &.align-top {
    align-self: flex-start;
  }

  &.align-bottom {
    align-self: flex-end;
  }

  &.align-center {
    align-self: center;
  }

  &.one-third {
    flex: 0 0 33.333333%;
  }

  &.two-thirds {
    flex: 0 0 66.666667%;
  }

  &.one-fourth {
    flex: 0 0 25%;
  }

  &.one-half {
    flex: 0 0 50%;
  }

  &.three-fourths {
    flex: 0 0 75%;
  }

  &.one-fifth {
    flex: 0 0 20%;
  }

  &.four-fifths {
    flex: 0 0 80%;
  }
}
